.img-gallery,
.img-gallery:before,
.img-gallery:after {
  @apply h-[400px] w-[400px] lg:h-[450px] lg:w-[450px] xl:w-[550px] xl:h-[550px];
}

.img-gallery {
  @apply relative;
  /* @apply absolute left-1/2; */
  /* transform: translateX(-50%); */
}

.img-gallery:before {
  content: "";
  transform: rotate(-4deg);
  z-index: -2;
  @apply absolute inset-0 bg-purple;
}

.img-gallery:after {
  content: "";
  transform: rotate(-2deg);
  z-index: -1;
  @apply absolute inset-0 bg-yellow;
}

.event-title {
  @apply z-10 flex flex-col absolute left-[52%] top-1/2 text-white lg:max-w-[450px] xl:max-w-[550px];
  text-shadow: 2px 2px 10px black;
}
