# This file is an example and should be duplicated renamed.
# See https://nextjs.org/docs/basic-features/environment-variables

# XXX Tips: How to use this file ?
#           This file should only container SENSITIVE information
#             (information available in the server-side context) or overrides for `.env`.
#           It is not tracked by git.
